/DNA_data/
/model/binds_dataset.npy
/model/LARGE_dataframe_dataset.csv
/model/not_binds_dataset.npy
/noams_model/vectors_1_above_0_3_0_under_0_2/
/DNA_data/amino_acid_data/
/model/protein_seq_2.txt
/model/DNA_data_2